*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
body{
    background-color: rgb(50, 50, 50);
    background-image: url("background.jpg");
}
.grid {
    height:350px;
    width:425px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
    }
.start {
    height:40px;
    width:160px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    background-color:rgb(25, 25, 25);
    border-radius: 16px;
    border-style: none;
}

footer{
    display: flex;
    justify-content: center;
}
header{
    text-align: center;
    justify-content: center;
    margin: 32px;
}
main{
    display: flex;
    justify-content: center;
    margin: 32px;
}

h1{
    text-align: center;
    font-size: 64px;
    color: rgb(165, 125, 203);
    font-family:Arial, Helvetica, sans-serif;
}
img{
    border-radius: 16px;
    box-shadow: 0 0 4px 0;
}
h2{
    font-size: 48px;
}
